<%- include('partials/header') %>

    <div class="max-w-6xl mx-auto px-4 py-10">
        <h2 class="text-3xl font-bold text-gray-800 mb-10 text-center tracking-tight">
            <i class="fas fa-microchip mr-2 text-blue-600"></i> Panel de Monitoreo
        </h2>


        <div id="dashboard" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-10">

            <% if (isAdmin()) { %>
                <div class="bg-white shadow rounded-xl p-5 border border-gray-200">
                    <h3 class="text-lg font-semibold text-gray-700 mb-3">
                        <i class="fas fa-cogs text-gray-500 mr-2"></i> Estado del sistema
                    </h3>

                    <div class="flex gap-2 mt-4">
                        <button class="px-4 py-2 bg-green-600 hover:bg-green-700 text-white rounded-md">
                            <i class="fas fa-play mr-1"></i> Iniciar
                        </button>
                        <button class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white rounded-md">
                            <i class="fas fa-stop mr-1"></i> Detener
                        </button>
                    </div>
                </div>
                <% } %>
                    <!-- Temperatura -->
                    <div class="bg-white shadow rounded-xl p-5 border border-gray-200">
                        <h3 class="text-lg font-semibold text-gray-700 mb-3">
                            <i class="fas fa-thermometer-half text-orange-500 mr-2"></i> Temperatura
                        </h3>
                        <div id="temperature" class="text-4xl font-bold text-orange-600"> </div>
                    </div>

                    <!-- Ph -->
                    <div class="bg-white shadow rounded-xl p-5 border border-gray-200">
                        <h3 class="text-lg font-semibold text-gray-700 mb-3">
                            <i class="fa-solid fa-flask-vial text-orange-500 mr-2"></i> Ph
                        </h3>
                        <div id="ph" class="text-4xl font-bold text-orange-600"> </div>
                    </div>

                    <!-- capacitivo -->
                    <div class="bg-white shadow rounded-xl p-5 border border-gray-200">
                        <h3 class="text-lg font-semibold text-gray-700 mb-3">
                            <i class="fas fa-microchip text-blue-500 mr-2"></i> Estado del sensor capacitivo
                        </h3>
                        <div id="capacitivo" class="text-4xl font-bold text-purple-600"></div>
                    </div>

                    <!-- Nivel bajo -->
                    <div class="bg-white shadow rounded-xl p-5 border border-gray-200">
                        <h3 class="text-lg font-semibold text-gray-700 mb-3">
                            <i class="fas fa-arrow-down text-sky-600 mr-2"></i> Sensor Nivel Bajo
                        </h3>
                        <div id="lowLevel" class="text-xl font-bold text-slate-600"> </div>
                    </div>

                    <!-- Nivel alto -->
                    <div class="bg-white shadow rounded-xl p-5 border border-gray-200">
                        <h3 class="text-lg font-semibold text-gray-700 mb-3">
                            <i class="fas fa-arrow-up text-sky-600 mr-2"></i> Sensor Nivel Alto
                        </h3>
                        <div id="highLevel" class="text-xl font-bold text-slate-600"> </div>
                    </div>
        </div>

        <!-- Estado global del sistema -->
        <div class="bg-white shadow border border-gray-200 rounded-xl p-6 text-center">
            <h3 class="text-lg font-semibold text-gray-700 mb-2">
                <i class="fas fa-circle-notch text-gray-600 mr-2"></i> Estado del Sistema
            </h3>
            <div id="systemStatus" class="text-2xl font-bold text-green-500"> </div>
        </div>
        <br>
        <!-- Estado global del sistema -->
        <!-- <div class="col-span-3 mb-4">
            <div class="text-right text-sm font-semibold text-gray-600">
                Modo de Operación: <span id="modoAutomatico" class="text-blue-600">Cargando...</span>
            </div>
        </div> -->
    </div>
    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-database-compat.js"></script>
    <script>
        function formatearDecimales(numero, decimales = 2) {
            return parseFloat(numero).toFixed(decimales);
        }
        // const firebaseConfig = {
        //     apiKey: "AIzaSyB41svdnDLDUDTotvn8N0TVfVeNWgG9ypk",
        //     authDomain: "base-datos-iot-50cb4.firebaseapp.com",
        //     databaseURL: "https://base-datos-iot-50cb4-default-rtdb.firebaseio.com",
        //     projectId: "base-datos-iot-50cb4",
        //     storageBucket: "base-datos-iot-50cb4.firebasestorage.app",
        //     messagingSenderId: "522493704609",
        //     appId: "1:522493704609:web:13686733b75bdb9f7c73e0"
        // };
        const firebaseConfig = {
            apiKey: "AIzaSyCOwyJDeXCh_owmUB4dg6NMS4CBSzfFCxw",
            authDomain: "node-red-oit.firebaseapp.com",
            databaseURL: "https://node-red-oit-default-rtdb.firebaseio.com",
            projectId: "node-red-oit",
            storageBucket: "node-red-oit.firebasestorage.app",
            messagingSenderId: "618040416556",
            appId: "1:618040416556:web:28877a8f0e32e7c5c47489",
            measurementId: "G-M4T0SC2YDY"
        };

        firebase.initializeApp(firebaseConfig);
        const db = firebase.database();

        const refs = {
            motor: db.ref("plc/motor"),
            valve: db.ref("plc/valvula"),
            temp: db.ref("plc/tem"),
            ph: db.ref("plc/ph"),
            capacitivo: db.ref("plc/capacitivo"),
            nivelBajo: db.ref("plc/nivel_bajo"),
            nivelAlto: db.ref("plc/nivel_alto"),
            estado: db.ref("plc/estado_sistema"),
            automatico: db.ref("plc/automatico")
        };

        // Actualizar DOM cuando cambian los valores
        refs.motor.on("value", (snap) => {
            const estado = snap.val();
            document.getElementById("motorStatus").textContent = estado ? "Encendido" : "Apagado";
            document.getElementById("motorStatus").className = "text-2xl font-bold " + (estado ? "text-green-600" : "text-red-600");
        });

        refs.valve.on("value", (snap) => {
            const estado = snap.val();
            document.getElementById("valveStatus").textContent = estado ? "Abierta" : "Cerrada";
            document.getElementById("valveStatus").className = "text-2xl font-bold " + (estado ? "text-blue-600" : "text-gray-600");
        });

        refs.temp.on("value", (snap) => {
            document.getElementById("temperature").textContent = formatearDecimales(snap.val()) + " °C";
        });

        refs.ph.on("value", (snap) => {
            document.getElementById("ph").textContent = formatearDecimales(snap.val()) + " ";
        });

        refs.capacitivo.on("value", (snap) => {
            const estado = snap.val();
            document.getElementById("capacitivo").textContent = estado ? "Objeto detectado" : "Vacio";
            document.getElementById("capacitivo").className = "text-2xl font-bold " + (estado ? "text-blue-600" : "text-gray-600");
        });

        refs.nivelBajo.on("value", (snap) => {
            document.getElementById("lowLevel").textContent = snap.val() ? "En liquido" : "Vacio";
        });

        refs.nivelAlto.on("value", (snap) => {
            document.getElementById("highLevel").textContent = snap.val() ? "Capacidad maxima" : "Vacio";
        });

        refs.estado.on("value", (snap) => {
            const val = snap.val();
            const el = document.getElementById("systemStatus");
            el.textContent = val ? "Encendido el sistema" : "Apagado el sistema";
            el.className = "text-2xl font-bold " + (
                val ? "text-green-600" :
                    "text-gray-600"
            );
        });

        document.querySelectorAll("button").forEach(btn => {
            btn.addEventListener("click", () => {
                const action = btn.textContent.toLowerCase().trim();

                switch (action) {
                    case "iniciar":
                        refs.motor.set(true);
                        break;
                    case "detener":
                        refs.motor.set(false);
                        break;
                }
            });
        });


    </script>

    <%- include('partials/footer') %>